*{
    padding:0;
    margin:0;
    border:0
}

/* Estilos texto*/

h1, h2, h3, h4, p, a, li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 207);
    text-decoration: none;
}

h1{
    margin: 1.5em 0 0 0;
}

p{  
    line-height: 1.4em;
    font-size: 1.2em;
}

.container{
    display: flex;
}

#informacoes{
    background: #0D0D0D;
    /*border: 1px solid red;*/
    width: 30vw;
}

#informacoes #dados{
    padding: 4em 2em 0 2em;
}

#informacoes h2{
    font-size: 2em;
}

#conteudo{
    background: #262626;
    width: 70vw;
    padding: 0 4em 0 0;
}

/*imagem*/
#lyzzandro{
    display: block;
    margin: 0 auto 3em auto;
    width: 200px;
    border-radius: 100px;
}

/*Contato*/

#contato{
    padding: 0 0 0.6em 0;
}

#icons{
    border-top: 1px solid #241e1e ;
    border-bottom: 1px solid #241e1e ;
    padding: 1em 0 1em 0;
    margin-top: 1em;
}

.icon{
    margin: 0 0 0 1em;
}

.cor-svg{
    filter: invert(67%) sepia(0%) saturate(1039%) hue-rotate(331deg) brightness(123%) contrast(97%);
}

.cor-svg:hover{
    filter: invert(67%) sepia(0%) saturate(1039%) hue-rotate(331deg) brightness(100%) contrast(97%);
}

/* Certificados*/

#certificacoes{
    padding: 1em 0 0 0;
}

#lista-certificados{
    padding: 1em 0 0 1.4em;
}

#lista-certificados p:hover{
    color: rgb(172, 172, 172);
}

/* Conteudo */
#nome{
    font-size: 3em;
    padding: 1em 0 0 2em;
}

#conteudo h2{
    font-size: 2em;
    padding: 2em 0 0 3em;
}

#descricao-resumo{
    font-size: 1.2em;
    padding: 1em 0 0 5em;
}

/*experiência*/

#experiencia{
   margin: 0 0 1em 0;
}

#empresa, #tempo, #local{
    padding: 0 0 0 5em;
}

#cargo{
    font-weight: 700;
    font-size: 1.5em;
    padding: 0 0 0 4em;
}

#empresa{
    font-weight: 600;
}

#local{
    color: #8d8989;
}

.tarefas{
    margin-top: 1em;
    padding: 0 0 0 6em;
}

.empregos{
    margin-bottom: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #3f3939;
}

@media screen and (max-width: 900px) {
    .container {
        display: inline-block;
    }

    /*font-size*/

    h1{
        margin: 0;
    }

    #lyzzandro{
        margin: 0 auto 1em auto;
    }

    #conteudo h2{
        font-size: 2em;
        padding: 1em 0 0 0.7em;
    }

    #icons{
        display: flex;
        justify-content: center;
    }

    #nome{
        font-size: 2.5em ;
        margin: 0;
        padding: 1em 0.5em 0 0.5em;
    }


    #informacoes h2{
        font-size: 2em;
    }

    #informacoes{
        width: 100vw;
        margin: 0;
        padding: 0 0 0 0;
    }

    #informacoes #dados{
        padding: 1em 1em 0 1em;
    }

    #lista-certificados{
        padding: 1em 0 1em 1.4em;
    }
    
    #conteudo{
        background: #262626;
        width: 100vw;
        padding: 0 0 0 0;
    }

    #descricao-resumo{
        font-size: 1.2em;
        padding: 1em 0 2em 1.2em;
    }

    /*experiência*/

    #experiencia{
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #empresa, #tempo, #local{
        padding: 0 0 0 1.2em;
    }
    
    #cargo{
        font-weight: 700;
        font-size: 1.5em;
        padding: 0 0 0 1em;
    }
    
    #empresa{
        font-weight: 600;
    }
    
    #local{
        color: #8d8989;
    }
    
    .tarefas{
        margin-top: 1em;
        padding: 0 1.5em 0 2em;
    }

    .empregos{
        
        margin-bottom: 0;
        padding-bottom: 2em;
        border-bottom: 1px solid #3f3939;
  } 
}
